@import "../index.css";

.head {
  background: linear-gradient(rgba(234, 228, 228, 0.781), rgb(195, 192, 192));
  border-radius: 0.4rem ;
  border: 2px solid var(--blue-dark);

  p {
    background-color: black;
    background-clip: text;
    color: var(--blue-light);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: transparent;
  }
}
