@import "tailwindcss";

@font-face {
  font-family: font-main;
  src: url(../public/fonts/QGYvz_MVcBeNP4NJtEtq.woff2);
}

:root {
  --correct-base: #219150;
  --correct-light: #58d98b;
  --correct-dark: #0d803d;

  --wrong-base: #ff6f61;
  --wrong-light: #ff8f83;
  --wrong-dark: #d4574c;

  --orange-base: #ff7f3f;
  --orange-light: #ff9c6a;
  --orange-dark: #e56529;

  --blue-base: #3498db;
  --blue-light: #5eb2e7;
  --blue-dark: #2576b6;

  --pink-base: #ff4d6d;
  --pink-light: #ff738c;
  --pink-dark: #d83655;

  --purple-base: #9b59b6;
  --purple-light: #b77fd0;
  --purple-dark: #7e3e99;

  --aqua-base: #1abc9c;
  --aqua-light: #48d1b6;
  --aqua-dark: #139a82;

  --rose-base: #e84393;
  --rose-light: #ef6aa9;
  --rose-dark: #b8306c;

  --yellow-base: #ff9f1a;
  --yellow-light: #ffb84d;
  --yellow-dark: #d68300;

  --gold-base: #f1c40f;
  --gold-light: #f5d54d;
  --gold-dark: #bfa70b;

  --sand-base: #d2b48c;
  --sand-light: #dec3a3;
  --sand-dark: #b9966d;

  --white-base: #ffffff;
  --white-light: #ffffff;
  --white-dark: #d9d9d9;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* REMOVE PAGE SCROLL */
html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html {
  font-family: font-main;
}

body {
  background-color: black;
  color: white;
}

/* MAIN SECTION */
section {
  width: 79.5%;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;

  background-image: url(../../public/images/darkbg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* TABLET */
@media (max-width: 1024px) {
  section {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    background-size: cover;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  html,
  body,
  #root {
    overflow: hidden;
    height: 100dvh;
  }

  section {
    width: 100%;
    height: 100dvh;
    max-height: 100dvh;
    overflow: hidden;

    background-size: cover;
    background-position: center;
  }
}

/* SMALL MOBILE */
@media (max-width: 480px) {
  section {
    width: 100%;
    height: 100dvh;
    padding: 0;
  }
}